version: 2.1
orbs:
  docker: circleci/docker@0.5.17
  codecov: codecov/codecov@1.0.5
jobs:
  test:
    docker:
      - image: circleci/node:12.11.0
    steps:
      - checkout
      - run: yarn
      - run: yarn lint:ci
      - run: yarn test:cover
      - codecov/upload:
          file: './coverage/lcov.info'
      - persist_to_workspace:
          root: .
          paths: [node_modules]

  new-version:
    docker:
      - image: circleci/node:10
    steps:
      - add_ssh_keys:
          fingerprints:
            - '57:e8:25:e7:9c:34:ea:2f:5e:ba:e1:5d:fe:f1:08:7d'
      - checkout
      - attach_workspace:
          at: .
      - run: yarn new-version

workflows:
  test-tag:
    jobs:
      - test:
          filters:
            tags:
              ignore: /^v\d+\.\d+\.\d+$/
            branches:
              ignore: /dependeabot\/*/
      - new-version:
          context: github
          requires: [test]
          filters:
            branches:
              only: [master]
  build-deploy:
    jobs:
      - docker/publish:
          image: yanmendes/${CIRCLE_PROJECT_REPONAME}
          context: docker
          tag: ${CIRCLE_TAG}
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+$/
